
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.color-orange {
  color: #e67817
}
a, a:hover {
  color: #6c757d;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  img {
    max-width: 100%;
  }
}
