
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.rating-company {
  padding: 5px;
}
.rating-company:hover {
  color: white;
  background: #e77817;
}
